/*
====================================
large Screen - Others
====================================
*/
@media screen and (min-width: 120px) and (max-width: 1399px) {

    /*=== work start ===*/

    .work__item {
        grid-column-gap: 30px;
    }






}



@media screen and (min-width: 992px) and (max-width: 1199px) {

    /*=== resume start ===*/

    .resume__item {
        padding-left: 24px;
        padding-right: 24px;
    }

    .resume__item h2 {
        font-size: 20px;
    }

    .resume__item p {
        margin-right: -15px;
    }

    /*=== work start ===*/

    .work__item {
        grid-column-gap: 30px;
    }

    /*=== review start ===*/

    .review__item {
        padding: 30px 20px;
    }

    /*=== footer start ===*/

    .footer__logo {
        width: 400px;
    }

    .footer__link {
        margin-left: 100px;
    }






}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

    /*=== Header start ===*/

    .hero__item h2 {
        font-size: 46px;
    }

    /*=== resume start ===*/

    .resume {
        padding-top: 100px;
    }

    .section-title h2 {
        font-size: 42px;
    }

    .resume__wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
    }

    .resume__item {
        padding: 30px 20px;
    }

    .resume__item h2 {
        font-size: 22px;
    }

    /*=== work start ===*/

    .work .section-title {
        margin-bottom: 50px;
    }

    .work__item {
        grid-column-gap: 30px;
        grid-row-gap: 100px;
    }

    .work__item-content {
        padding: 0;
    }

    .work__item-content h2 {
        font-size: 28px;
    }

    .work__item-content p {
        font-size: 18px;
    }

    /*=== review start ===*/

    .review {
        padding: 120px 0 100px;
    }

    .review__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    /*=== blog start ===*/

    .blog__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog__item h2 a {
        font-size: 20px;
    }

    /*=== footer start ===*/

    .footer__logo {
        width: 100%;
    }

    .footer__link {
        width: 50%;
        margin-left: 0;
    }

    .footer__bottom p span {
        margin-left: 20px;
    }





}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {

    /*=== Header area start ===*/

    .hero__wrapper::after {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .header {
        padding: 16px 0;
    }

    .header__logo img {
        max-width: 100%;
    }

    /*=== hero start ===*/

    .hero {
        padding-top: 43px;
    }

    .hero::after {
        width: 100%;
        height: 45px;
        left: 0;
        bottom: -10px;
    }

    .hero__item h2 {
        font-size: 32px;
    }

    .hero__item-image {
        padding-top: 50px;
    }

    /*=== resume start ===*/

    .resume {
        padding-top: 70px;
    }

    .section-title {
        margin: 0 auto 30px;
    }

    .section-title h2 {
        font-size: 32px;
    }

    .section-title h2 br {
        display: none;
    }

    .resume__wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }

    .resume__item {
        padding: 30px 20px;
    }

    .resume__item p {
        margin-right: 0;
    }

    /*=== work start ===*/

    .work {
        padding-top: 70px;
    }

    .work .section-title {
        margin-bottom: 30px;
    }

    .work__item {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
    }

    .work__item-content h2 {
        font-size: 28px;
    }

    .work__item-content p {
        font-size: 18px;
    }

    /*=== review start ===*/

    .review {
        padding: 90px 0 70px;
    }

    .review__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .review__item {
        padding: 24px 16px;
    }

    .review__item p {
        font-size: 18px;
    }

    .review__item h4 {
        font-size: 20px;
    }

    /*=== blog start ===*/

    .blog__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog__item h2 a {
        font-size: 20px;
    }

    /*=== faq start ===*/

    .faq {
        padding: 70px 0;
    }

    .faq .section-title {
        margin-bottom: 30px;
    }

    .accordion__item {
        padding: 20px 16px;
    }

    /*=== transform start ===*/

    .transform {
        padding: 20px 0 70px;
    }

    .transform__item {
        padding: 60px 15px;
    }

    .transform__item-content h2 {
        font-size: 32px;
    }

    /*=== footer start ===*/

    .footer__logo {
        width: 100%;
    }

    .footer__link {
        width: 100%;
        margin-left: 0;
    }

    .footer__bottom p:nth-of-type(1) {
        margin-bottom: 20px;
    }

    .footer__bottom p span {
        margin-left: 20px;
    }





}